# Android
android_project/.gradle/
android_project/local.properties
android_project/build/
android_project/app/build/
android_project/.idea/
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
local.properties

# PHP/Web
apk/*.apk
vendor/
node_modules/
.vscode/
